* {
    margin: 0;
    padding: 0;
}

header {
    width: auto;
    height: 10rem;
    background-color: #333333;
}

header p {
    color: #ffffff;
    padding: 2rem;
    font-size: 2rem;
}

nav {
    display: flex;
    width: auto;
    height: 4rem;
    background-color: #000000;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    gap: 17rem;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

section {
    height: 25rem;
    width: 60rem;
    background-color: #cccccc;
}

section p {
    font-size: 1.5rem;
    color: #333333;
    padding: 2rem;
}

.container {
    display: flex;
}

aside {
    height: 25rem;
    width: auto;
    background-color: #ffffff;
}

aside p {
    font-size: 1.5rem;
    color: #000000;
    padding: 2rem;
}

footer {
    display: flex;
    width: auto;
    height: 15rem;
    background-color: #333333;
    justify-content: center;
}

footer p {
    color: #ffffff;
    padding: 2rem;
    font-size: 2rem;
}